__pycache__/
.pytest_cache/
*_generated.py
playground.py
*.pyc
*.pyo
*.spec
dist/
build/
main.build/
main.dist/
main.onefile-build/
generated/
botty_v*/
custom.ini
config/custom.ini
config/custom.*.ini
.vscode
.vs/
test/assets/
.venv
*.bak
.coverage
htmlcov/
coverage.xml
utils/live-view/
config/bnip/*
!config/bnip/.gitkeep
stats/
info_screenshots/
item_error_screenshots/
loot_screenshots/
pickit_screenshots/
*info_log_parsed.txt
*info_*.png
*.log
log/
