__pycache__/
.pytest_cache/
*_generated.py
playground.py
*.pyc
*.pyo
*.log
*.spec
dist/
build/
run.build/
run.dist/
run.onefile-build/
generated/
botty_v*/
custom.ini
*info_*.png
.vscode
.vs/
info_screenshots/
loot_screenshots/
.venv