__pycache__/
.pytest_cache/
*_generated.py
playground.py
*.pyc
*.pyo
*.log
*.spec
dist/
build/
main.build/
main.dist/
main.onefile-build/
generated/
botty_v*/
custom.ini
config/custom.ini
config/custom.*.ini
*info_log_parsed.txt
*info_*.png
.vscode
.vs/
info_screenshots/
loot_screenshots/
stats/
.venv
*.bak
.coverage
htmlcov/
coverage.xml
utils/live-view/
